@import url("https://use.typekit.net/fat5ytz.css");
body{
    padding: 0;
    margin: 0;
    background-color: #D1BA9E;
    color: #48301E;
    font-family: voluta-script-pro, cursive;
    font-weight: 400;
    font-style: normal;
    font-kerning: auto;
}
.title{
    font-size: 15em;
    text-align: center;
    line-height: .75em;
    margin-top: 25%;
}
.author{
    font-size: 6em;
    line-height: .1em;
    margin-left: 10%;
    margin-top: 20%;
}
.publish{
    margin-top: 2%;
    font-size: 4em;
    line-height: .1em;
    margin-left: 10%;
}
.poem{
    display: grid;
    grid-template-rows: .75fr 1fr .6fr .75fr;
    padding: 2em;
    margin-left: 45%;
    font-size: 4em;
    line-height: .3em;
}
.stanza_4{
    margin-bottom: 3em;
}

/*------------------------------------------SMART PHONES------------------------------------------*/
@media only screen and (max-width: 500px){
    .main{
        display: grid;
        grid-template-columns: 120% 50%;
        width: 400%;
        height: 812px;
    }
    .title_page{
        display: grid;
        position: relative;
    }
    .title{
        font-size: 37em;
        position: relative;
        line-height: 1em;
        margin-left: 5%;
        text-align: center;
        margin-top: -8%;
    }
    .author{
        margin-top: 180%;
        position: fixed;
        font-size: 12em;
        margin-left: 10%;
        width: 90%;
    }
    .publish{
        position: absolute;
        margin-top: 160%;
        font-size: 12em;
        margin-left: 65%;
    }
    .poem{
        display: grid;
        height: 812px;
        width: 200%;
        grid-template-columns: 100% 100% 100% 100%;
        grid-column-gap: 2em;
        margin-top: 50%;
        font-size: 9em;
        margin-left: 50%;
        position: relative;
    }
}

/*---------------------------------------------TABLETS---------------------------------------------*/
@media only screen and (min-width: 800px) and (max-width:1000px){
    .main{
        display: grid;
        grid-template-columns: 1fr 4fr;
    }
    .title_page{
        position: fixed;
        display: grid;
        height: 1280px;
        width: 800px;
    }
    .title{
        font-size: 37em;
        text-align: left;
        margin-left: 2%;
        margin-top: -10%;
        position: fixed;
    }
    .author{
        position: fixed;
        margin-top: 130%;
        margin-left: 5%;
        font-size: 20em;
    }
    .publish{
        position: fixed;
        margin-top: 140%;
        margin-left: 5%;
        font-size: 15em;
    }
    .poem{
        display: grid;
        height: 1280px;
        grid-template-columns: 100% 100% 100% 120%;
        grid-column-gap: 2em;
        margin-top: 12%;
        font-size: 16em;
        margin-left: 25%;
    }
}