@import url("https://use.typekit.net/fat5ytz.css");

body{
    padding: 0;
    margin: 0;
    background-color: #D1BA9E;
    color: #48301E;
    font-family: voluta-script-pro, cursive;
    font-weight: 400;
    font-style: normal;
    font-kerning: auto;
}
.title{
    font-size: 15em;
    text-align: center;
    line-height: 2em;
    margin-top: 1.2em;
}
.author{
    font-size: 6em;
    line-height: .1em;
    margin-left: 10%;
    margin-top: -.3em;
}
.publish{
    margin-top: -.6em;
    font-size: 4em;
    line-height: .1em;
    margin-left: 10%;
}
.poem{
    margin-left: 45%;
    font-size: 4em;
    line-height: .3em;
}
.stanza_1{
    margin-bottom: 2em;
}
.stanza_2{
    margin-bottom: 2em;
}
.stanza_3{
    margin-bottom: 2em;
}
.stanza_4{
    margin-bottom: 4em;
}

/*------------------------------------------SMART PHONES------------------------------------------*/
@media only screen and (max-width: 800px){
    .main{
        display: grid;
        grid-template-columns: 120% 50%;
        width: 400%;
        height: 812px;
    }
    .title_page{
        display: grid;
        position: relative;
    }
    .title{
        font-size: 37em;
        position: relative;
        line-height: .75em;
        margin-top: -.5em;
        margin-left: 5%;
        text-align: center;
    }
    .author{
        margin-top: 14em;
        position: fixed;
        font-size: 12em;
        margin-left: 10%;
        width: 90%;
    }
    .publish{
        position: absolute;
        margin-top: 15em;
        font-size: 12em;
        margin-left: 6em;
    }
    .poem{
        display: grid;
        height: 812px;
        width: 200%;
        grid-template-columns: 100% 100% 100% 100%;
        grid-column-gap: 2em;
        margin-top: 4em;
        font-size: 8em;
        margin-left: 120%;
        position: relative;
    }
}

/*---------------------------------------------TABLETS---------------------------------------------*/
@media only screen and (min-width: 800px) and (max-width: 1280px){
    .title_page{
        position: fixed;
        display: grid;
        height: 1280px;
        width: 800px;
    }
    .title{
        font-size: 35em;
        text-align: left;
        margin-left: 2%;
        margin-top: -3em;
        position: fixed;
    }
    .author{
        position: fixed;
        margin-top: 100%;
        margin-left: 5%;
        font-size: 25em;
    }
    .publish{
        position: fixed;
        margin-top: 110%;
        margin-left: 5%;
        font-size: 20em;
    }
    .poem{
        display: grid;
        height: 1280px;
        grid-template-columns: 500% 500% 500% 600%;
        grid-column-gap: 2em;
        margin-top: 4em;
        font-size: 16em;
    }
}