<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Kelsey Reith | Translated</title>
        <link rel="stylesheet" href="style.css">
        <link rel="stylesheet" href="https://use.typekit.net/egw2fpu.css">
    </head>
    <body>
        <div class="navigation">
            <div class="header"><p>Kelsey Reith</p></div>
            <div class="buttons">
                <div class="home_button"><a href="index.html">Home</a><div class="button_line"></div></div>
                <div class="work_button"><a href="work.html">Work</a><div class="button_line"></div></div>
            </div>
        </div>
        <div class="page_title">
            <p class="project_title">Translated</p>
            <p class="date">April 2019</p>
        </div>
        <div class="project_show">
            <div class="row_one">
            </div>
            <div class="row_two">
                <div class="img"></div>
                <div class="des_image">
                    <div class="project_description">In this project I was given the verbal description of an object and used this description as inspiration to create a non-objective sculpture.</div>
                    <div class="img"></div>
                </div>
            </div>
            <div class="row_three">
            </div>
        </div>
        <div class="process_line"></div>
        <div class="project_show">
            <div class="row_one">
            </div>
            <div class="row_two">
                <div class="img"></div>
                <div class="des_image">
                    <div class="project_description">I assembled the Frame by soldering copper tubes and joints together. I let the act of making dominate as I sculpted the body with clay. I then fired it with clear glaze and dripped candle wax on the exterior.</div>
                    <div class="img"></div>
                </div>
            </div>
            <div class="row_three">
            </div>
        </div>
    </body>
    </html>
