<!-- start of partials/header -->
<div class="navigation">
    <div class="header"><p>Kelsey Reith</p></div>
    <div class="buttons">
        <div class="home_button"><a href="index.html">Home</a><div class="button_line"></div></div>
        <div class="work_button"><a href="work.html">Work</a><div class="button_line"></div></div>
    </div>
</div>
<!-- end of partials/header -->