<div class="postlist">

  <div class="item_org">
    {% for post in postslist %}
      <div class="individual_item">
        <div class="item_title">
          <a class="item_title" href="{{ post.url | url }}">
            {{ post.data.title }}
          </a>
        </div>
        <div class="item_image">
          <a href="{{ post.url | url }}">
            <img class="item_image" src="{{ post.data.featured_image | url }}" />
          </a>
        </div>
      </div>
    {% endfor %}
  </div>
  
</div>