---
layout: layouts/base.njk
templateClass: tmpl-home
---

<div class="page_title"><p>Welcome</p></div>
 <div class="bio">
    <div class="intro">
        <div class="portrait"></div>
        <div class="self_blurb">
            <div class="i_am"><p>I am Kelsey Reith</p></div>
            <div class="i_am_line"></div>
            <p>I’m a graphic design student at Kansas State University.</p>
        </div>
    </div>
    <div class="contact">
        <p>kareith191@gmail.com</p>
        <p>785-410-6428</p>
    </div>
    <div class="quick_resume">
        <div class="quick_r"><p>Quick Resume</p></div>
        <p>Graphic Design Internship October 2019 – present</p>
        <p></p>
        <p>Adobe Suite CC, HTML, CSS, Digital Photography, basic editing</p>
        <p></p>
        <p>Creative, team player, problem-solving, time management, communication, adaptable, self-motivated, organized</p>
    </div>
</div>