---
layout: layouts/base.njk
templateClass: tmpl-post
---

<div class="page_title">
    <p class="project_title">{{ title }}</p>
    <p class="date">{{ when }}</p>
</div>
<div class="des"><p>{{ description }}</p></div>
<div class="project_show">
    {% for image in result_images %}
            <img src="{{ image | url }}">
    {% endfor %}
</div>
<div class="process_line"></div>
<div class="des"><p>{{ process_des }}</p></div>
<div class="project_show">
        {% for image in process_images %}
                <img src="{{ image | url }}">
        {% endfor %}
</div>