---
layout: layouts/base.njk
templateClass: tmpl-post
---
{% include "partials/header.njk" %}

<div class="page_title"><p>Work</p></div>
<div class="works">
    <div class="graphic_design">
        <div class="category">
            <p>Graphic Design</p>
            <div class="category_line"></div>
            <div class="work_links_gd">
                <div class="work_and_title">
                    <div class="works_title">Type & Design</div>
                    <div class="type_design"></div>
                </div>
                <div class="work_and_title">
                    <div class="works_title">Book Covers</div>
                    <div class="book_covers"></div>
                </div>
                <div class="work_and_title">
                    <div class="works_title">Icons</div>
                    <div class="icons"></div>
                </div>
                <div class="work_and_title">
                    <div class="works_title">Greeting Cards</div>
                    <div class="greeting_cards"></div>
                </div>
                <div class="work_and_title">
                    <div class="works_title">Tea Packaging</div>
                    <div class="tea_packaging"></div>
                </div>
                <div class="work_and_title">
                    <div class="works_title">Letterhead System</div>
                    <div class="letterhead"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="photography">
        <div class="category">
            <p>Photgraphy</p>
            <div class="category_line"></div>
            <div class="work_links_photo">
                <div class="work_and_title">
                    <div class="works_title">Light, Shadows, & Unusual Angles</div>
                    <div class="light_shad_angles"></div>
                </div>
                <div class="work_and_title">
                    <div class="works_title">Untitled</div>
                    <div class="scanography"></div>
                </div>
                <div class="work_and_title">
                    <div class="works_title">Hair</div>
                    <div class="hair"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="digital_media">
        <div class="category">
            <p>Digital Media</p>
            <div class="category_line"></div>
            <div class="work_links_dig_med">
                <div class="work_and_title">
                    <div class="works_title">Peter Pan</div>
                    <div class="peter_pan"></div>
                </div>
                <div class="work_and_title">
                    <div class="works_title">Weather</div>
                    <div class="weather"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="drawing">
        <div class="category">
            <p>Drawing</p>
            <div class="category_line"></div>
            <div class="work_links_draw">
                <div class="work_and_title">
                    <div class="works_title">Observational Drawing</div>
                    <div class="drawings"></div>
                </div>
                <div class="work_and_title">
                    <div class="works_title">Figure Drawing</div>
                    <div class="figure_drawings"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="printmaking">
        <div class="category">
            <p>Printmaking</p>
            <div class="category_line"></div>
            <div class="work_links_print">
                <div class="work_and_title">
                    <div class="works_title">Burlesque</div>
                    <div class="burlesque"></div>
                </div>
                <div class="work_and_title">
                    <div class="works_title">What Are You Looking At?</div>
                    <div class="what_are_you_looking_at"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="ceramics">
        <div class="category">
            <p>Ceramics</p>
            <div class="category_line"></div>
            <div class="work_links_cer">
                <div class="work_and_title">
                    <div class="works_title">Translated</div>
                    <div class="translated"></div>
                </div>
                <div class="work_and_title">
                    <div class="works_title">Vessels</div>
                    <div class="vessels"></div>
                </div>
                <div class="work_and_title">
                    <div class="works_title">Hair</div>
                    <div class="hair_ceramics"></div>
                </div>
            </div>
        </div>
    </div>
</div>